@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans";
}

.theme-scope {
  --brand-500: #3D9970;

  --page-bg: #f6f6f6;
  --card-bg: #ffffff;
  --card-shadow: 0 2px 16px rgba(0,0,0,.08);

  --text: #161616;
  --title: #000000;
}

.theme-scope.dark {
  --page-bg: #111111;
  --card-bg: #000000;
  --card-shadow: 0 2px 18px rgba(0,0,0,.45);

  --text: #e8e8e8;
  --title: #ffffff;
}